*{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

.header { 
    text-align: center;
    color: rgb(6, 6, 77);
}

ol li a{
    color: rgb(63, 150, 196);
    line-height: 1px;
    text-decoration: none;
}

.S {
    font-size: 30px;
    color: rgb(3, 3, 47);
}

.lyons {
    font-size: 10px;
}

.h1 {
    font-weight: bolder;
    color: rgb(4, 4, 64);
}

