h1{
    text-align: center;
    display: block;
}
table{
    table-layout: fixed;
}
.judul{
    text-align: center;
    font-weight: bold ;
}
.nomor{
    font-weight: bold;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}